/* First / Main Page - Start */
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

/* Header Start */
header {
    width: 100%;
    height: 100px;
    background-color: #F2F6FA;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 124.9%;
    color: #000000;
    border-bottom: 9px solid #C49B6F;
}

.container {
    padding: 0 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo img {
    width: 110px;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-menu ul li {
    list-style: none;
    margin-right: 15px;
}

.navbar-menu ul li a {
    padding: 20px 0px;
}

.navbar-menu ul li a:hover {
    border-bottom: 1.5px solid #C49B6F;
}

.current {
    border-bottom: 1.5px solid #C49B6F;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: black;
}

.navbar-menu ul li a:hover {
    color: #C49B6F;
}

.nav-toggler {
    /* border: 3px solid #000; */
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
    border-radius: 3px;
    margin-right: 30px;
}


.nav-toggler span {
    width: 18px;
    height: 2px;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    background-color: #000;
    display: block;
    transition: .3s;
    border-radius: 20px;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
    width: 24px;
    height: 2px;
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
    width: 24px;
    height: 2px;
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

.lang-wrapper-mobile {
    display: none;
}

.select-box {
    width: 0px !important;
}

.select-box__current {
    cursor: pointer;
    outline: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus+.select-box__list .select-box__option {
    border-radius: 5px;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
    background-color: transparent;
}

.select-box__input-text {
    display: none;
    margin: 0;
    padding: 2px 0 2px 5px;
    background-color: #fff;
    align-items: center;
    margin-left: 10px;
}

.select-box__list {
    position: absolute;
    list-style: none;
    z-index: 999;
    display: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.select-box__list.active {
    display: block;
}

.select-box__list label {
    margin-bottom: 0px !important;
}

.select-box__option {
    display: block;
    padding: 6px 4px;
    background-color: transparent;
}

/* Header End */

/* Main Slider Start */
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-bottom: 2rem;
}

.carousel-caption {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
}

.carousel-caption p {
    max-width: 806px;
    font-weight: 500;
    font-size: 22px;
    line-height: 37px;
}

.carousel-caption-btn {
    font-family: 'Montserrat', sans-serif;
    background: #C49B6F;
    border-radius: 9px;
    color: white !important;
    margin-top: 30px !important;
    text-decoration: none;
    text-align: center;
    width: 250px !important;
    padding: 10px 23px;
    border: none !important;
}

.carousel-caption-btn:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.carousel {
    height: 100vh !important;
}

.carousel-inner {
    height: 100vh !important;

}

.carousel-item img {
    height: 100vh !important;
    object-fit: cover;
    padding: 0px !important;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
}



/* Main Slider End */

/* Section two Start */
.our-advantage {
    font-family: 'Raleway', sans-serif;
}

.img-and-txt {
    position: relative;
    width: 100%;
}

.img-and-txt img {
    max-width: 100%;
    height: 210px;
    width: 100%;
    object-fit: cover;
}

.img-and-txt h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.group-of-boxes {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 70px;
}

.group-of-boxes .box {
    text-align: center;
    padding: 20px;
    height: 161px;
}

.group-of-boxes .box-1,
.group-of-boxes .box-2,
.group-of-boxes .box-4,
.group-of-boxes .box-5 {
    border-right: 1px solid #E2E2E3;
}

.box h6 {
    font-size: 15px !important;
}

.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.line-1 {
    border-bottom: 1px solid #E2E2E3;
}

/* Section two End */

/* Section Three Start */
.services {
    font-family: 'Raleway', sans-serif;
}

.group-of-services {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.group-of-texts h6 {
    font-size: 12px;
    line-height: 147.4%;
}

.filter-color {
    filter: invert(53%) sepia(25%) saturate(6452%) hue-rotate(147deg) brightness(101%) contrast(77%);
}

.service:hover {
    background-color: #1DACB0;
    cursor: pointer;
}

.service:hover.service img {
    filter: brightness(0) invert(1);
}

.service:hover.service {
    color: white;
    border-radius: 4px;
}

.services .service {
    height: 191px;
    padding: 14px;
}

.all-btn {
    background: #1DACB0 !important;
    font-size: 17px !important;
    color: white !important;
    border-radius: 5px;
    margin-top: 43px !important;
    width: 200px !important;
    padding: 7px 23px;
    border: none !important;
}

/* Section Three End */

/* Map Start */
.map-section {
    border-top: 1px solid #D9D9D9;
    align-items: center;
    margin-top: 50px;
}

.map-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}


.map-section #map {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.map-section h1 {
    position: absolute;
    z-index: 1000;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 33px;
    line-height: 194.9%;
    color: #000000;
}


.map-section text {
    text-transform: uppercase;
    color: #374457;
    font-size: 9px;
    font-weight: 600;
}

#map svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.jvm-zoom-btn {
    display: none;
}

.map-section circle {
    display: none;
}

[data-code="CN"],
[data-code="KG"],
[data-code="MN"],
[data-code="IN"],
[data-code="NP"],
[data-code="MM"],
[data-code="BT"],
[data-code="BD"],
[data-code="PK"],
[data-code="AF"],
[data-code="SA"],
[data-code="IQ"],
[data-code="KW"],
[data-code="SY"],
[data-code="JO"],
[data-code="EG"],
[data-code="IL"],
[data-code="LB"],
[data-code="LY"],
[data-code="TN"],
[data-code="IT"],
[data-code="DE"],
[data-code="GR"],
[data-code="BG"],
[data-code="RO"],
[data-code="RS"],
[data-code="MK"],
[data-code="AL"],
[data-code="BA"],
[data-code="CY"],
[data-code="PS"],
[data-code="ME"],
[data-code="_1"],
[data-code="HR"],
[data-code="HU"],
[data-code="AT"],
[data-code="SI"],
[data-code="MD"],
[data-code="SK"],
[data-code="PL"],
[data-code="CZ"],
[data-code="AM"],
[data-code="AE"],
[data-code="QA"],
[data-code="SE"],
[data-code="DK"],
[data-code="YE"],
[data-code="SD"],
[data-code="OM"],
[data-code="LK"],
[data-code="ET"],
[data-code="_2"],
[data-code="SO"],
[data-code="ER"],
[data-code="DJ"],
[data-code="SS"],
[data-code="TD"],
[data-code="DK"],
[data-code="CD"],
[data-code="CF"],
[data-code="KE"],
[data-code="UG"],
[data-code="FI"],
[data-code="NO"] {
    display: none;
}


[data-index="0"] {
    transform: translate(-18px, 2px);
}

[data-index="1"] {
    transform: translate(-22px, 0px);
}

[data-index="2"] {
    transform: translate(-700px, 103px);
}

[data-index="3"] {
    transform: translate(-27px, 0px);
}

[data-index="4"] {
    transform: translate(-25px, -2px);
}

[data-index="5"] {
    transform: translate(-18px, 0px);
}

[data-index="6"] {
    transform: translate(-10px, 0px);
}

[data-index="7"] {
    transform: translate(-36px, 0px);
}

[data-index="8"] {
    transform: translate(-25px, 0px);
}

[data-index="9"] {
    transform: translate(-32px, 6px);
}

[data-index="10"] {
    transform: translate(-25px, 2px);
}

[data-index="11"] {
    transform: translate(-31px, 0px);
}

[data-index="12"] {
    transform: translate(-21px, 5px);
}

[data-index="13"] {
    transform: translate(-26px, 3px);
}

.map-section circle {
    display: none;
}


/* Map End */

/* Footer Start */
footer {
    width: 100%;
    background: url('./images/footer-background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.footer-header h3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.footer-header h4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.footer-menu {
    width: 25%;
    padding-top: 145px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: white;
    text-decoration: none;
    line-height: 50px;
}

.footer-menu ul li a:hover {
    color: #1DACB0;
    transition: .5s;
}

.footer-menu .fw-500 {
    font-weight: 500;
}

.form-group {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    border: 1px solid #4F4F4F;
    border-radius: 0;
}

.form-control:focus {
    border-color: #4F4F4F;
    outline: none;
    box-shadow: none;
}

footer textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #A2A9B0 !important;
}

.form-group label {
    font-weight: 400;
    font-size: 15px;
    color: #77808B;
    line-height: 30px;
}

input[type=submit] {
    background: #1DACB0 !important;
    font-size: 17px !important;
    color: white !important;
    border-radius: 5px;
    width: 200px !important;
    padding: 7px 23px;
    border: none !important;
}

input[type=submit]:focus-visible {
    background-color: #1DACB0;
    border-color: #4F4F4F;
    outline: none;
    box-shadow: none;
}

input[type=submit]:hover {
    background-color: #1DACB0;
    border-color: #4F4F4F;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon-style {
    background: #1DACB0;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.hheader-and-icon {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
}

.hheader span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.hheader .h-2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.our-address {
    width: 77%;
    background: #1DACB0;
    border-radius: 8px;
    padding: 15px;
    align-self: flex-start;
}

.address-header {
    display: flex;
    font-family: Roboto;
    align-items: center;
    gap: 10px;
}

.actual-address h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

.num-and-email {
    gap: 15px;
}

.social-media-contact {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 147.4%;
    align-self: flex-start;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icon i {
    font-size: 25px;
}

.instagram-icon span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.copyright-and-date {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.copyright-and-date h5 {
    text-align: center !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #959292;
}

/* Footer End */

/* First / Main Page - End */



/* Second / Company Page - Start */

/* Hero Section Start  */

.hero-image {
    background-image: url("./images/hero-img.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 38%;
}

.hero-text h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}


/* Hero Section End */


/* About Company Text Start */

.breadcrumb-nav {
    background: #F7F7F7;
}

.breadcrumb {
    padding: 12px 0px;
}

.breadcrumb a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #1DACB0;
}

.breadcrumb-item.active {
    font-weight: 500;
}

.breadcrumb-item::before {
    content: '←';
    font-weight: 500;
    color: #1DACB0;
    margin-right: 5px;
}

.company-content {
    width: 77%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.company-content p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    line-height: 190.5%;
    color: #020202;
}

/* About Company Text End */

/* Company Gallery Start */

.company-gallery h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 147.4%;
    color: #000000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    height: 100vh;
    overflow-y: scroll;
    align-items: stretch;
    padding-right: 10px;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    height: 223px;
    cursor: pointer;
}

.gallery::-webkit-scrollbar {
    width: 5px;
}

.gallery::-webkit-scrollbar-track {
    background-color: #E9E9E9;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #1DACB0;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modalImage {
    margin: 0px auto;
    display: block;
    width: 100%;
    height: 450px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

/* Company Gallery End */

/* Second / Company Page - End */

/* Third / Our Advantage Page - Start */

.our-advantage-hero-image {
    background-image: url("./images/our-advantage-hero-img.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.group-of-cards {
    text-align: center;
    padding: 0 15px;
}

.card_ img {
    background-color: #1DACB0;
    padding: 27px;
    height: 122px;
    width: 300px;
}

.card_ div {
    padding: 20px 43px;
}

.card_ h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15.4334px;
    line-height: 163.9%;
}

.our-advantage-context p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 190.5%;
    color: #020202;
}

/* Third / Our Advantage Page - End */

/* Fourth / Services Page - Start */
.services-hero-image {
    background-image: url("./images/services-background.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.group-of-texts {
    padding-top: 20px;
}

.group-of-texts,
.img-container {
    height: 40px;
}

.group-of-services a {
    text-decoration: none;
    color: black;
}

/* Fourth / Services Page -  End */

/* Fifth /  Service Detail Page Start */
.service-detail-hero-image {
    background-image: url("./images/services-detail-hero.png");
    height: 409px;
    max-width: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-detail-hero-text {
    position: absolute;
    top: 11%;
}

.detail-content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.service-icon img {
    background-color: #1DACB0;
    border-radius: 8px;
    padding: 10px;
}

.service-detail-hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-content {
    width: 50%;
}

.detail-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 220%;
    color: #FFFFFF;
}

.service-breadcrumb-nav {
    background: #F7F7F7;
}

.service-breadcrumb {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 12px 0px;
}

.service-breadcrumb a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #1DACB0;
}

.service-breadcrumb-item.active {
    color: #A4A4A4 !important;
}

.service-detail {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}

.service-left-nav ul {
    display: flex;
    list-style: none;
    gap: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #DBDBDB;
    ;
}

.service-left-nav ul li a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A4A4A4;
    text-decoration: none;
}

.group-of-boxes__ {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 70px 0px;
}

.group-of-boxes__ .box {
    text-align: center;
    padding: 20px;
    height: 161px;
    display: flex;
    align-items: center;
    position: relative;
}

.group-of-boxes__ .box-1,
.group-of-boxes__ .box-2,
.group-of-boxes__ .box-4,
.group-of-boxes__ .box-5 {
    border-right: 1px solid #1DACB0;
}

.group-of-boxes__ .box-2 h6,
.group-of-boxes__ .box-3 h6,
.group-of-boxes__ .box-5 h6,
.group-of-boxes__ .box-6 h6 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 190.5%;
    color: #020202;
}

.group-of-boxes__ .box-1 h6,
.group-of-boxes__ .box-4 h6 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 190.5%;
    color: #000000;
}

.group-of-boxes__ .box-3,
.group-of-boxes__ .box-6 {
    border-right: 1px solid #1DACB0;
}

.line-2 {
    border-bottom: 1px solid #1DACB0;
}

.rect {
    position: absolute;
    right: -6px;
    top: -5px;
    width: 10px;
    height: 10px;
    background: #1DACB0;
    border-radius: 2.93103px;
}

.rect_ {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #1DACB0;
    border-radius: 2.93103px;
}

.rect-1 {
    left: -2px;
    bottom: -5px;
}

.rect-2 {
    left: -5px;
    bottom: -165px;
}

.rect-3 {
    left: -5px;
    bottom: -165px;
}

.rect-4 {
    right: -6px;
    bottom: -4px;
}

/* 
.rect-1 {
    right: 0;
    top: 0;
}

.rect-2 {
    right: 0;
    top: 0;
}

.rect-3 {
    right: 0;
    top: 0;
}

.rect-4 {
    right: 0;
    top: 0;
}

.rect-5 {
    right: 0;
    top: 0;
}

.rect-6 {
    right: 0;
    top: 0;
}

.rect-7 {
    right: 0;
    top: 0;
}

.rect-8 {
    right: 0;
    top: 0;
} */

.main-context__ p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 190.5%;
    color: #020202;
}

.group-of-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.detail-box__ {
    padding: 15px;
}

.detail-box__ p {
    position: relative;
    border-left: 1px solid #1DACB0;
    padding: 0px 15px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 190.5%;
    color: #020202;
}

.detail-box__ p::after {
    content: "";
    display: block;
    width: 60px;
    height: 0.5px;
    background: #1DACB0;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.detail-circle {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #1DACB0;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    z-index: 1000;
    color: #FFFFFF;
}


.service-detail-right-nav {
    text-align: center;
}

.service-detail-btn {
    background: #1DACB0;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    padding: 15px 38px;
    border: none !important;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.right-side-links {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.right-side-links span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2C2C2C;
}

.right-side-links a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #A4A4A4;
}

.wrapper-container {
    display: flex;
}

/* Fifth /  Service Detail Page End */

/* Sixth / Trains Page Start */
.trains-hero-image {
    background-image: url("./images/trains-background.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.group-of-trains {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 2fr 2fr;
}

.group-of-trains .train {
    padding-bottom: 20px;
    height: 161px;
}

.train-1,
.train-3 {
    border-right: 1px solid #1DACB0;
}

.train-1,
.train-2 {
    border-bottom: 1px solid #1DACB0;
    padding-bottom: 20px;
}

.train img {
    width: 300px;

}

.train {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.train-circle {
    position: absolute;
    top: 32%;
    width: 20px;
    height: 20px;
    background-color: #1DACB0;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    z-index: 1000;
    color: #FFFFFF;
}

.circle-1,
.circle-3 {
    right: 42px;

}

.circle-1,
.circle-2 {
    top: 66%;
}

.circle-3,
.circle-4 {
    top: 20%;
}

.circle-2,
.circle-4 {
    left: 42px;

}

.group-of-containers-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.detail-box-2 {
    padding: 15px;
}

.detail-box-2 p {
    position: relative;
    border-left: 1px solid #1DACB0;
    padding: 0px 15px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 190.5%;
    color: #020202;
    margin: 0;
}

.simple-box p::after {
    content: "";
    display: block;
    width: 60px;
    height: 0.5px;
    background: #1DACB0;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.detail-circle-2 {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #1DACB0;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    z-index: 1000;
    color: #FFFFFF;
}

.special-2 {
    position: absolute;
}

.special-box p {
    border-left: none !important;
    border-right: 1px solid #1DACB0;
}

.special-box p::after {
    content: "";
    display: block;
    width: 60px;
    height: 0.5px;
    background: #1DACB0;
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.right-circle {
    right: -137%;
}

.trains-context p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 190.5%;
    color: #020202;
}

.rectangle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #1DACB0;
    border-radius: 2.93103px;
}

.rectangle-1 {
    left: 0px;
    bottom: -6px;
}

.rectangle-2 {
    left: -6px;
    top: -3px;
}

.rectangle-3 {
    right: -6px;
    top: -6px;
}

.rectangle-4 {
    right: -5px;
    top: -5px;
}

.rectangle-5 {
    left: -6px;
    bottom: 0;
}

.slide-wrapper{
    overflow-x: hidden;
}

/* Sixth / Trains Page End */

/* Seventh / Terminal Page Start */
.terminal-hero-image {
    background-image: url("./images/terminal-background.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.terminal-hero-image .hero-text {
    width: 65%;
}

.abt-terminal-header h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 27px;
    line-height: 147.4%;
    color: #000000;
}

.abt-terminal-header span {
    color: #1DACB0;
}

.terminal-boxes {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.terminal-box-context {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.terminal-box-context h6 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    color: #060606;
}

.terminal-box {
    border: 1px solid #E2E2E3;
    display: flex;
}

.bx-1,
.bx-2,
.bx-3 {
    border-top: none;
}

.bx-1,
.bx-4,
.bx-7 {
    border-left: none;
}

.bx-3,
.bx-6,
.bx-9 {
    border-right: none;
}

.bx-7,
.bx-8,
.bx-9 {
    border-bottom: none;
}

.abt-terminal-hr {
    margin-top: 30px;
}

.terminal-description {
    gap: 20px;
}

.terminal-description img {
    width: 421px;
    height: 650px;
}

.terminal-description p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #060606;
}

.terminal-advantage video {
    width: 421px;
    height: 272px;
}

.terminal-advantage p {
    font-size: 14px;
    line-height: 24px;
}

.terminal-adv-boxes {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.terminal-adv-boxes .bx-3,
.terminal-adv-boxes .bx-4 {
    border-bottom: none;
}



.terminal-adv-boxes .bx-3,
.terminal-adv-boxes .bx-5 {
    border-left: none;
}

.terminal-adv-boxes .bx-5,
.terminal-adv-boxes .bx-6 {
    border-bottom: none;
}

.terminal-adv-boxes .bx-5 {
    border-right: none;
}

.terminal-adv-boxes .bx-2,
.terminal-adv-boxes .bx-4 {
    border-right: none;
}

.terminal-adv-boxes .bx-2 {
    border-bottom: none;
    border-left: none;
}

.terminal-adv-boxes .bx-3 {
    border-right: 1px solid #E2E2E3;
}

.last-section {
    margin-bottom: 70px;
}

.last-section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #060606;
    max-width: 800px;
    width: 100%;
}

/* Seventh / Terminal Page End */

/* Eighth / News Page Start */
.news-hero-image {
    background-image: url("./images/news-background.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news-boxes .card-img-top {
    height: 270px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.news-boxes .card-body {
    background: #F2F2F2;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card {
    border: none;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 138%;
    color: #020202;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 190.5%;
    color: #020202;
}

.card-date p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B0B0B0;
}

.card-body a {
    text-decoration: none;
}

/* Eighth / News Page End */

/* Nineth / News Detail Page Start */
.news-detail-hero-image {
    background-image: url("./images/news-detail-background.png");
    height: 409px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news-detail {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}

.news-detail-hero-text {
    position: absolute;
    top: 21%;
}

.news-detail-content h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.news-detail-left-nav ul {
    display: flex;
    list-style: none;
    gap: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #DBDBDB;
    ;
}

.news-detail-left-nav ul li a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A4A4A4;
    text-decoration: none;
}

.news-detail-hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-detail-date p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.news-detail-content {
    width: 70%;
}

.news-detail-main-context__ p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 190.5%;
    color: #020202;
}

.news-detail-breadcrumb-nav {
    background: #F7F7F7;
}

.news-detail-breadcrumb {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 12px 0px;
}

.news-detail-breadcrumb a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #1DACB0;
}

.news-detail-breadcrumb-item.active {
    color: #A4A4A4 !important;
}

.news-detail-breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f054";
    color: #1DACB0;
    font-size: 8px;
    margin-right: 10px;
}

.news-detail-breadcrumb-item.active::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f054";
    color: #A4A4A4;
}

.news-detail-buttons {
    display: flex;
    gap: 12px;
}

.news-detail-buttons a {
    font-family: 'Montserrat', sans-serif;
    border-radius: 9px;
    color: white !important;
    margin-top: 30px !important;
    text-decoration: none;
    text-align: center;
    width: 250px !important;
    padding: 10px 23px;
    border: none !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 190.5%;
    color: #FFFFFF;
}

.previous-btn {
    background: #C49B6F;
}

.next-btn {
    background: #1DACB0;
}

.previous-btn::before {
    font-family: "Font Awesome 5 free";
    content: "\f053";
    font-weight: 600;
    margin-right: 10px;
    font-size: 10px;
}

.next-btn::after {
    font-family: "Font Awesome 5 free";
    content: "\f054";
    font-weight: 600;
    margin-left: 10px;
    font-size: 10px;
}

.news-detail-right-nav {
    text-align: center;
}

.news-detail-right-side-links {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.news-detail-right-side-links span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2C2C2C;
}

.news-detail-right-side-links a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #A4A4A4;
}

/* Nineth / News Detail Page End */

/* Last / Contact Page Start */
.contact {
    background: #272727;
    overflow: hidden;
}

.contactt-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 104px;
    width: 100%;
    right: 0;
    left: 47px;
}

.contact-first-col {
    width: 48%;
    margin-right: 2%;
}

.contact-first-col .social-icon {
    flex-wrap: wrap;
}

.contact-second-part {
    position: relative;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 897px;
    width: 950px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 897px;
    width: 950px;
}

.mobile-text-light {
    color: black;
}

/* Last / Contact Page End */

/* MEDIA QUERIES */


@media screen and (max-width: 992px) {

    header .container {
        padding: 0px 17px !important;
        max-width: 926px;
    }

    .nav-toggler {
        display: block;
    }

    .navbar-menu ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 100px;
        flex-direction: column;
        align-items: center;
        background-color: #F2F6FA;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 999;
    }

    .navbar-menu ul li {
        width: 100%;
        text-align: center;
        justify-content: space-between;
    }

    .navbar-menu ul li a {
        padding: 20px;
        display: block;
    }

    .navbar-menu ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
        border-bottom: none;
    }

    .navbar-menu ul.open {
        max-height: 100vh;
        overflow: visible;
    }

    .current {
        border: none;
    }

    .carousel-caption h1 {
        font-size: 48px !important;
    }

    .carousel-caption p {
        font-size: 16px !important;
    }

    .carousel-caption-btn {
        width: 241px !important;
        padding: 10px 4px !important;
    }

    .img-and-txt h1 {
        font-size: 40px !important;
    }

    .group-of-boxes .box-1,
    .group-of-boxes .box-2,
    .group-of-boxes .box-4,
    .group-of-boxes .box-5 {
        border-right: none;
    }

    .group-of-boxes .box-1,
    .group-of-boxes .box-2,
    .group-of-boxes .box-3,
    .group-of-boxes .box-4 {
        border-bottom: 1px solid #E2E2E3;
    }

    .group-of-boxes .box-1,
    .group-of-boxes .box-3,
    .group-of-boxes .box-5 {
        border-right: 1px solid #E2E2E3;
    }

    .line-1 {
        border-bottom: none;
    }

    .group-of-boxes {
        display: grid;
        grid-template-columns: 4fr 4fr;
        padding: 70px;
        align-items: center;
    }

    .group-of-services {
        display: grid;
        grid-template-columns: 3fr 3fr;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .select-box {
        margin-right: 13px;
        width: auto !important;
    }

    .footer-menu {
        padding-top: 30px;
    }

    .footer-menu ul li a {
        line-height: 0;
    }

    .company-content {
        width: 100%;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        height: 150px;
    }

    .map-section text {
        font-weight: 700;
    }

    .map-section h1 {
        padding: 0px 32px;
        font-size: 16px;
    }

    #map svg {
        top: 43px;
    }

    #map {
        height: 500px !important;
    }

    [data-index="0"] {
        transform: translate(-14px, -1px);
    }

    [data-index="1"] {
        transform: translate(-19px, -4px);
    }

    [data-index="2"] {
        transform: translate(-18px, 2px);
    }

    [data-index="3"] {
        transform: translate(-18px, 0px);
    }

    [data-index="4"] {
        transform: translate(-18px, -1px);
    }

    [data-index="5"] {
        transform: translate(-18px, 0px);
    }

    [data-index="6"] {
        transform: translate(-10px, 0px);
    }

    [data-index="7"] {
        transform: translate(-16px, 0px);
    }

    [data-index="8"] {
        transform: translate(-19px, -2px);
    }

    [data-index="9"] {
        transform: translate(-23px, 2px);
    }

    [data-index="10"] {
        transform: translate(-18px, 2px);
    }

    [data-index="11"] {
        transform: translate(-14px, -1px);
    }

    [data-index="12"] {
        transform: translate(-18px, 2px);
    }

    [data-index="13"] {
        transform: translate(-19px, -3px);
    }


    .detail-content h1 {
        font-size: 2.5rem;
    }

    .detail-content p {
        font-size: 1rem;
    }

    .service-left-nav ul {
        flex-direction: column;
        gap: 0;
    }

    .group-of-boxes__ .box-1,
    .group-of-boxes__ .box-2,
    .group-of-boxes__ .box-4,
    .group-of-boxes__ .box-5 {
        border-right: none;
    }

    .group-of-boxes__ .box-3,
    .group-of-boxes__ .box-6 {
        border-right: none;
    }

    .group-of-boxes__ .box-1,
    .group-of-boxes__ .box-2,
    .group-of-boxes__ .box-3,
    .group-of-boxes__ .box-4 {
        border-bottom: 1px solid #1DACB0;
    }

    .group-of-boxes__ .box-1,
    .group-of-boxes__ .box-3,
    .group-of-boxes__ .box-5 {
        border-right: 1px solid #1DACB0;
    }

    .line-1 {
        border-bottom: none;
    }

    .group-of-boxes__ {
        display: grid;
        grid-template-columns: 4fr 4fr;
        padding: 70px 0px;
        align-items: center;
    }

    .rect-3 {
        left: -1px;
        bottom: -5px;
    }

    .rect-mobile-none {
        display: none;
    }

    .rect-4 {
        left: -6px;
        bottom: -4px;
    }

    .group-of-containers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .service-detail {
        grid-template-columns: 1fr;
    }

    .service-detail-right-nav {
        margin-top: 30px;
        text-align: start;
    }


    .right-side-links {
        align-items: flex-start;
        padding: 40px 0px;
    }

    .service-detail-btn {
        padding: 10px 15px;
        line-height: 0;
        font-size: 17px;
    }

    .right-side-links span {
        text-align: start;
    }



    .train img {
        padding: 22px;
    }

    .circle-1,
    .circle-2 {
        top: 76%;
    }

    .circle-1,
    .circle-3 {
        right: 30px;
    }

    .circle-2,
    .circle-4 {
        left: 26px;
    }

    .group-of-trains {
        margin-top: 55px;
    }

    .group-of-containers-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }


    .special-box p {
        position: relative;
        border-left: 1px solid #1DACB0 !important;
        border-right: none !important;
    }

    .special-box p::after {
        content: "";
        display: block;
        width: 60px;
        height: 0.5px;
        background: #1DACB0;
        position: absolute;
        left: -60px;
    }

  
 
    .right-circle {
        right: 118% !important;
    }

    .terminal-hero-image .hero-text {
        top: 26%;
    }

    .terminal-boxes {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .bx-2 {
        border-bottom: none;
        border-left: none;
    }

    .bx-2,
    .bx-4,
    .bx-8 {
        border-right: none;
    }

    .bx-3 {
        border-right: 1px solid #E2E2E3;
    }

    .bx-7,
    .bx-9 {
        display: none;
    }

    .bx-8 {
        border-left: none;
        border-right: 1px solid #E2E2E3;
        border-top: none;
    }

    .bx-6 {
        border-left: none;
    }

    .bx-3,
    .bx-5 {
        border-left: none;
    }

    .bx-5,
    .bx-6 {
        border-top: none;
    }

    .terminal-description img {
        width: 247px;
        height: 424px;
        object-fit: contain;
    }


    .terminal-adv-boxes .bx-3,
    .terminal-adv-boxes .bx-4 {
        border-bottom: 1px solid #E2E2E3;
    }

    .terminal-adv-boxes .bx-5 {
        border-right: 1px solid #E2E2E3;
    }

    .card-body {
        padding: 25px;
    }

    .card-title {
        line-height: 20px;
    }

    .card-text {
        line-height: 20px;
    }

    .card-date {
        line-height: 20px;
    }

    .news-detail {
        grid-template-columns: 1fr;
    }

    .news-detail-right-nav {
        margin-top: 30px;
        text-align: start;
    }

    .news-detail-hero-text {
        top: 13%;
    }

    .news-detail-content h1 {
        font-size: 2.5rem;
    }

    .news-detail-left-nav ul {
        flex-direction: column;
        gap: 0;
    }

    .news-detail-right-side-links {
        align-items: flex-start;
        padding: 40px 0px;
    }

    .news-detail-right-side-links span {
        text-align: start;
    }

    .contact-second-part img {
        display: none;
    }

    .contact {
        background-image: url("/images/footer-full-background.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .mapouter {
        display: none;
    }

    .mobile-text-light {
        color: white;
    }

    .contactt-info {
        position: inherit;
        width: 77%;
        left: 0;
        bottom: 0;
    }

    .contact-first-col {
        width: 100%;
        margin-right: 0;
    }

    .logo {
        margin: 0 auto;
    }
}


@media screen and (max-width: 762px) {
    .group-of-boxes {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .group-of-boxes .box {
        margin-top: 30px;
        height: auto;
    }

    .group-of-boxes .box-1 {
        margin-top: 0;
    }

    .group-of-boxes .box {
        border: none;
    }

    .group-of-services {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .our-advantage-hero-image .hero-text h1 {
        font-size: 3rem;
    }

    .modalImage {
        width: 100%;
    }

    .detail-content {
        width: 80%;
    }

    .service-icon img {
        width: 50px;
    }

    .group-of-boxes__ {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .group-of-boxes__ .box {
        margin-top: 30px;
        height: auto;
        padding: 0;
        text-align: start;
    }

    .group-of-boxes__ .box-1 {
        margin-top: 0;
    }

    .group-of-boxes__ .box {
        border: none;
    }

    .rect,
    .rect_ {
        display: none;
    }

    .group-of-trains {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0px;
    }

    .train {
        border: none;
    }

    .train img {
        padding-top: 46px;
    }

    .train-circle {
        top: 0;
        left: 0;
        right: 66%;
    }

    .rectangle {
        display: none;
    }

    .terminal-boxes {
        display: grid;
        grid-template-columns: 2fr;
    }

    .terminal-box-context {
        padding: 20px 0px;
    }

    .terminal-box {
        border: none;
    }

    .terminal-box img {
        width: 30px;
        height: 30px;
    }

    .abt-terminal-hr {
        display: none;
    }

    .terminal-adv-boxes {
        display: grid;
        grid-template-columns: 2fr;
    }

    .terminal-adv-boxes .bx-3 {
        border: none;
    }

    .terminal-adv-boxes .bx-5 {
        border-right: 1px solid #E2E2E3;
    }

    .terminal-adv-boxes .bx-5,
    .terminal-adv-boxes .bx-4 {
        border: none;
    }

    .news-detail-content {
        width: 83%;
    }

    .news-detail-buttons {
        flex-direction: column;
        gap: 0;
    }

    .contactt-info {
        position: inherit;
        width: 100%;
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 610px) {
    .img-and-txt h1 {
        font-size: 1.9rem !important;
    }

    .logo img {
        width: 90px !important;
    }

    .map-section h1 {
        padding: 0px 32px;
        font-size: 16px;
    }

    .carousel-caption h1 {
        font-size: 35px !important;
    }

    .carousel-caption p {
        font-size: 13px !important;
    }

    .carousel-caption-btn {
        width: 210px !important;
        font-size: 13px;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .our-advantage-hero-image .hero-text h1 {
        font-size: 2rem;
    }

    .abt-terminal-header h1 {
        font-size: 24px;
    }

    .terminal-box-context h6 {
        font-size: 12px;
        line-height: 20px;
    }

    .terminal-advantage video {
        width: 272px;
        height: auto;
        margin-top: 25px;
    }

    .card-text {
        font-size: 12px;
    }

    .card-title {
        font-size: 13px;
    }

    .card-date p {
        font-size: 11px;
    }

    .news-detail-content h1 {
        font-size: 2rem;
    }

    .news-detail-buttons a {
        width: 233px !important;
        padding: 9px 0px;
    }

    #map svg {
        top: 69px;
    }

    #map {
        height: 365px !important;
    }



}



@media screen and (max-width: 1031px) and (min-width:921px) {
    .navbar-menu ul li a {
        padding: 20px 4px;
    }

    .contact-wrap {
        gap: 40px;
    }

    .terminal-hero-image .hero-text {
        width: 75%;
    }

    .terminal-description img {
        width: 383px;
        height: 620px;
    }

    .terminal-advantage video {
        width: 392px;
    }

}

@media screen and (min-width: 1399px) {
    .right-circle {
        right: -133%;
    }

 
}

@media screen and (min-width: 1318px) {
    .card_ div {
        padding: 20px 78px;
    }
}

@media screen and (max-width: 921px) {
    .contact-wrap {
        flex-direction: column;
        padding: 1.4rem 0px;
    }

    .mobile-width {
        width: 100% !important;
        padding: 0 !important;
    }

    .num-and-email {
        flex-direction: column;
        align-self: flex-start;
    }

    .contact-info {
        margin-top: 28px;
    }

    .footer-menu {
        width: 100%;
        padding-top: 55px;
    }

    .our-address {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-icon img {
        width: 50px;
    }

    .detail-content h1 {
        font-size: 1.5rem;
        line-height: 38px;
    }

    .detail-content p {
        font-size: 1rem;
    }

    .service-breadcrumb {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .news-detail-breadcrumb {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .news-detail-content h1 {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 414px) {
    [data-index="2"] {
        transform: translate(-118px, 0px);
    }


    .gallery img {
        object-fit: cover;
        height: 137px;
        cursor: pointer;
    }

    .social-icons {
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 1031px) {
    footer {
        flex-direction: column;
        padding: 0 60px;
    }

    .contact-wrap {
        order: 1;
    }

    .footer-menu {
        display: none;
        /* order: 2; */
    }

    .copyright-and-date {
        order: 3;
    }
}

@media screen and (max-width: 1200px) and (min-width:992px) {
    .contact-first-col .num-and-email {
        flex-direction: column !important;
    }
}